html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: #000000; 
  color: white;
}

.table-hover tbody tr:hover {
  background-color: #FFD700;
  color: black;
}

.table.text-white th,
.table.text-white td {
  color: white;
}

.bg-dark .form-control {
  background-color: #343a40; 
  color: white;
  border-color: #6c757d; 
}

.bg-dark .form-control::placeholder {
  color: #ced4da; 
}